
body{
    background-color:#211f1f; 
    width: 900px;
    height: 300px;
}


.contact{
    
    margin-left: 20%;
    margin top: 100px;
    margin-bottom: 0%;
}

.contact h1 {
    
    
    color: #5aed5d;
    font-size: 30px;
    width: 100px;
}

.contact h2 {
    
    
    color: white;
    font-size: 20px;
    margin-top: 10px;
}




#buttonone{
    
    background-color:transparent;
    border:none;
    font-size: 20px;
    font-family: "Open Sans" , sans-serif;
    line-height: 30px;
    width: 150px;
    float: bottom;
    border: 3px solid #5aed5d;
    display: inline-block;
    margin-left: 50px;
    color: white;
    border-style: double;
    float: right;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-right: 0px;
   
}
