body{
    background-color:#211f1f;  
    width: 700px;
    height: 300px;
}


.rightmenu{
    width: 75%;
    height: 50px;
    float:right;
    color: #e8e1e1;
  
}

.rightmenu ul li{
    
    font-family: "Open Sans" , sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    color: #e8e1e1;
    line-height: 30px;
    margin-left: 5%;
    float: right;
    
  
}


.rightmenu ul li :hover{
    
   color: #5aed5d;
}



#profile{
    
    color: #5aed5d;
}

.hilight{
   
    width: 50%;
    height: 100%
    
    
    
}

.hilight h1 {
    font-size: 100px;
    display: inline-block;
    margin-left: 300px;
    margin-top: 100px;
    color: #e8e1e1;
    
   
    
}


.hilight h2 {
    font-size: 100px;
    display: inline-block;
    margin-left: 300px;
    margin-top: 0px;
    color: #e8e1e1;
    
     
}

#buttonone{
   
    background-color: #5aed5d;
    border:none;
    font-size: 20px;
    font-family: "Open Sans" , sans-serif;
    line-height: 30px;
    width: 150px;
    margin-top: 0%;
    color: black;
    display: inline-block;
    margin-left: 350px;
 
    
}
 
#buttontwo{
   
    background-color:transparent;
    border:none;
    font-size: 20px;
    font-family: "Open Sans" , sans-serif;
    line-height: 30px;
    width: 150px;
    margin-top: 0%;
    border: 3px solid #5aed5d;
    width: 150px;
    display: inline-block;
    margin-left: 350px;
    color: white;
    
}

  